body {
    padding: 2rem 0 0 2rem;
    
  }
  
  .bg {
    background-color: yellow;
  }
  #new-quote{
    background-color:yellow ;
    font-size: 10px;;
  }
  
  #quote-box {
    margin: auto;
    padding: auto;
    text-align: center;
    }
  
  #text {
    font-size: 4rem;
  }
  
  #author {
    font-size: 3rem;
    text-align: right;
  }
  
  #buttons {
    position: sticky;
    padding: 4vw;
    margin: 4vw;
  }
